<h4>Add Note</h4>
<form action="<%= route %>" method="post">
  <%= auth_token %>
  <textarea id="styled" name="note[note]"></textarea>
  <input type="hidden" name="note[track_id]" value="<%= track.id %>">

  <input type="submit" value="Share Note" class="btn btn-info" >
</form>
